p {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.flag {
  position: relative;
  width: 900px;
  height: 600px;
  background-color: #ce1126;
}

.flag > div {
  position: absolute;
  background-color: #002868;
  width: 100%;
  height: 300px;
  top: 150px;
}

.flag > div > div {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 350px;
}

.flag > div div p {
  color: black;
}
